@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
}

.btn {
  @apply text-xs font-bold text-primaryBlue min-w-[5rem] flex items-center justify-center py-1 rounded-full border-2 border-primaryBlue;
}

.btnSecondary {
  @apply w-full py-2.5 rounded-full bg-primaryBlue hover:bg-blue-500 text-white font-bold disabled:bg-opacity-70 disabled:cursor-not-allowed;
}

.error {
  @apply mt-1 flex items-center gap-1 text-xs text-red-600;
}

.inputStyles {
  @apply block w-full px-6 pt-6 pb-1 text-base rounded-md appearance-none border-2;
}

.inputLabel {
  @apply absolute text-zinc-400 duration-150 text-sm transform scale-75 -translate-y-3 top-[1.15rem] z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
